<% if (isAuthenticated) { %> 
    <form action="/cart" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
        <button class="ui basic button" type="submit">Add to Cart</button>
        <input type="hidden" name="productId" value="<%= product._id %>">
    </form>
<% } %>