<%- include('../includes/head.ejs') %>
    
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>

        <div class="ui text center aligned container">

            <h1>佳林會客菜</h1>
        
            <h3>營業時間: 週一至週五 & 每月第一個週日7:00am ~ 4:00pm</h3>      
            
            <h3>電話: 04-23841503</h3>

            <h3>地址: 台中市南屯區永春南路178號</h3>
        
        </div>
        <div class="map-responsive ui center aligned container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3640.936371829017!2d120.60584504491582!3d24.138872576386117!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x203565919db9451c!2z5L2z5p6X5pyD5a6i6I-c!5e0!3m2!1szh-TW!2stw!4v1609292572593!5m2!1szh-TW!2stw" width="450" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        
    </main>
<%- include('../includes/end.ejs') %>